---
---
{% assign find = "the-core-system" %}
{% assign items = site.data.menu %}
{%- capture array -%}
{%- include flatten.html items = items -%}
{%- endcapture -%}
{% assign flattened = array | split: "," %}
{% assign previous = nil %}

{% for item in flattened %}
  {% if flattened.first == find %}
    {{ previous }}
  {% end if %}
  {% assign previous = item %}
{% endfor %}

{% assign flattened = flattened | reverse %}
{% for item in flattened %}
  {% if flattened.first == find %}
    {{ previous }}
  {% end if %}
  {% assign previous = item %}
{% endfor %}

