:root {
  /* 🌈 colors 🌈 */
  --color__background: var(--color__1, #24292e);
  --color__foreground: var(--color__2, #fff);
  --color__highlight: var(--color__3, #0366d6);
  --color__lowlight: var(--color__4, #eaecef);
}
