/* ignore me being preachy about css */
:root {
  --site_padding: 0;  /* "_" isnt really used in my naming scheme so I use it to show a css attribute relationship */  
  --site__footer_border-top-width: 1px;
  --site__footer_border-top-style: solid;
  --site__footer_padding-top: 24px;
  --site__footer_margin: 0 128px 128px 64px;
  --site__footer_text-align: right;
  /* emojis are 🔥 */
  --a--active__after_content: '!'; /*'🔥'; /* idk whats up with these variable names either */
  --a--active__after_color: var(--color__lowlight);
  --site__nav_padding: 0 64px;
  --site__main_margin: 0 64px;
  --site__main_padding: 64px;
  --main__h_color: var(--color__highlight);
}

@media (max-width: 1024px) {
  /* using media queries to modify paramterized classes is the cool way to write css ❄❄❄ */
  :root {
    --site_padding: 0 8px;
    --site__nav_padding: 0;
    --site__main_margin: 0;
    --site__main_padding: 0;
    --site__footer_margin: 0 0 128px 0;
    --site__footer_text-align: center;
  }
}

/* 🌈⛅ */
@import "colors";
@import "details";
@import "site";
@import "nav";
@import "main";
@import "permalinks";
@import "table";
