/* ignore me being preachy about css */
:root {
  --site_padding: 0;  /* "_" isnt really used in my naming scheme so I use it to show a css attribute relationship */  
  --site__footer_border-top-width: 1px;
  --site__footer_border-top-style: solid;
  --site__footer_padding-top: 24px;
  /* emojis are 🔥 */
  --nav__a--active__after: '🔥'; /* idk whats up with these variable names either */
  --details--open__after_content: '🌝'; /* change them */
  --details--closed__after_content: '🌚'; /* or don't, Im probably not your mom */
  
  --site__nav_padding: 0 64px;
  --site__main_margin: 0 64px;
  --site__main_padding: 0 64px 64px 64px;
}

@media (max-width: 1024px) {
  /* using media queries to modify paramterized classes is the cool way to write css ❄❄❄ */
  :root {
    --site_padding: 0 8px;
    --site__nav_padding: 0;
    --site__main_margin: 0;
    --site__main_padding: 0;
  }
}

.site {
  padding: var(--site_padding);
}

.site a {
  color: var(--color__highlight);
}

.site, .site * {  
  background-color: var(--color__background);
  color: var(--color__foreground);
}

.site h1, .site h2, .site h3, .site .site__footer {
  border-color: var(--color__lowlight);
}

/* BEM is cool but there are other cool things out there too I guess */
.site .site__footer {  
  border-top-width: var(--site__footer_border-top-width); /* why use magic numbers here? I can write them somewhere else like the top of this file */
  border-top-style: var(--site__footer_border-top-style);
  padding-top: var(--site__footer_padding-top);
  grid-aread: footer;
}

.site .site__nav {
  padding: var(--site__nav_padding);
}

.site .site__main {
  margin: var(--site__main_margin);
  padding: var(--site__main_padding);
}

.nav ul {
  list-style: none;
}

.nav a.active::after {
  content: var(--nav__a--active__after);
}

.nav .nav__title {
  text-align: center; 
}

/* customize the open and closed styles for the nav menu */
details > summary {
 outline: none; 
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary > * {
  position: relative;
}

details > summary > ::after {
  position: absolute;
  right: 0; /* 0 is the least magic number that's why it's okay to hardcode 0's */
}

details[open] > summary > ::after {
  content: var(--details--open__after_content);
}

details:not([open]) > summary > ::after {
  content: var(--details--closed__after_content);
}

/* 🌈⛅ */
@import "colors";
