/* customize the open and closed styles for the nav menu */
details > summary {
 outline: none; 
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary > * {
  position: relative;
}

details > summary > ::after {
  position: absolute;
  width: 1em;
  height: 1em;
  border-raidus: .5em;
  border-width: 2px;
  border-style: solid;
  border-color: var(--colors__5);
  background-color: var(--colors__5);
  right: 0; /* 0 is the least magic number that's why it's okay to hardcode 0's */
}

details[open] > summary > ::after {
  background-color: transparent;
}

details:not([open]) > summary > ::after {
  /*content: var(--details--closed__after_content);*/
}
