/* customize the open and closed styles for the nav menu */
details > summary {
  outline: none; 
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary > * {
  position: relative;
}

details > summary > ::before, details > summary > ::after {  
  content: '^';
  display: inline-block;  
}

details:not([open]) > summary > ::before, details:not([open]) > summary > ::after {
  transform: rotate(180deg);
}

