:root {
  --site_grid-template-rows: 1fr;
  --site_grid-template-columns: 400px 1fr;
  --site_grid-template-areas: 
    "nav main";

  --nav_grid-template-rows: auto auto auto 1fr;
  --nav_grid-template-columns: 1fr;
  --nav_grid-template-areas: 
    "title"
    "rules"
    "links";

  --main_grid-template-rows: auto auto;
  --main_grid-template-columns: 1fr;
  --main_grid-template-areas: 
    "title"
    "content";
}

.site {
  display: grid;
  grid-template-rows: var(--site_grid-template-rows);
  grid-template-columns: var(--site_grid-template-columns);
  grid-template-areas: var(--site_grid-template-areas);
}

.site__nav {
  grid-area: nav; 
}

.site__main {
  grid-area: main; 
}

.nav {
  display: grid;
  grid-template-rows: var(--nav_grid-template-rows);
  grid-template-columns: var(--nav_grid-template-columns);
  grid-template-areas: var(--nav_grid-template-areas); 
}

.nav__title {
  grid-area: title; 
}      

.nav__rules {
  grid-area: rules; 
}      

.nav__links {
  grid-area: links; 
}

.main {
  display: grid;
  grid-template-rows: var(--main_grid-template-rows);
  grid-template-columns: var(--main_grid-template-columns);
  grid-template-areas: var(--main_grid-template-areas); 
}

.main__title {
  grid-area: title; 
}

.main__content {
  grid-area: content; 
}
