
<ul>
{% assign name = include.name %}
{% assign items = include.items %}
{% assign find = include.find %}
{% for item in items %}
<li>
{% if item.items %}
<details {% include menu/open.html name = item.name items = item.items find = find %}>
  <summary><a href="{% include rules/url.html name = item.name %}" {% include menu/active.html name = item.name find = find %}>{% include rules/title.html name = item.name %}</a></summary>  
  {% include menu/print.html name = item.name items = item.items find = find %}
</details>
{% else %}
<a href="{% include rules/url.html name = item.name %}" {% include menu/active.html name = item.name find = find %}>{% include rules/title.html name = item.name %}</a>
{% endif %}
</li>
{% endfor %}
</ul>
